body {
    background-color: darkblue;
}

h1 {
    color: white;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

#caixa_calculadora {
    text-align: center;
    border: 2px solid gray;
    background-color: white;
    padding: 10px;
}