body {
    background-color: darkblue;
}

h1 {
    color: white;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

#caixa_calculadora {
    text-align: center;
    border: 2px solid gray;
    border-radius: 20px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: 630px;
    width: 500px;
}

#box{
    overflow: scroll;
    width: 300px;
    height: 500px;
    padding: 15px;
    padding-top: 30px;
}

.lista{
    overflow-y: scroll;
    height: 500px;
    border: 2px solid grey;
    list-style: none;
}